<section class="h-1/4 md:w-2/3 md:h-full flex items-center justify-center text-yellow-400">
	<span class="md:p-60">
		<p class="md:text-5xl text-4xl"><span class="text-yellow-500">Another</span> Journal</p>
		<p class="md:text-5xl text-4xl">App</p>
	</span>
</section>