<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.description %></td>
        <td><%= task.due_date %></td>
      </tr>
    <% end %>
    <tr>
      <td><%= link_to 'home', categories_path %></td>
    </tr>
  </tbody>
</table>

